<div class="card ecommerce-card">
  <div class="item-img">
    <a routerLink="/produto/detalhe/{{item.produtoId}}">
      <img src="../../../../../assets/images/produtos/{{item.imagem}}" alt="img-placeholder" />
    </a>
  </div>
  <div class="card-body">
    <div class="item-name">
      <h4 class="mb-0">
        <a routerLink="/produto/detalhe/{{item.produtoId}}" class="text-body">{{ item.nome }}</a>
      </h4>
    </div>
    <hr/>
    <div class ="item-quantity">
      <h6 class="quantity-title">Qtde:</h6>
    </div>
    <hr/>
    <div class="item-quantity">
      <div class="quantity-counter-wrapper">
        <ngx-number-spinner  [value]="item.qtde" [min]="1"> </ngx-number-spinner>
      </div>
    </div>
  </div>
  <div class="item-options text-center">
    <div class="item-wrapper">
      <div class="item-cost">
        <h4 class="item-price">{{ item.preco * item.qtde | currency }}</h4>
      </div>
    </div>
    <button type="button" class="btn btn-light mt-1 remove-wishlist" (click)="removerItem()"  rippleEffect>
      <i data-feather="x" class="align-middle mr-25"></i>
      <span>Remove</span>
    </button>
  </div>
</div>
