
<!-- Sidebar das Categorias -->
<div class="sidebar-detached sidebar-left">
  <div class="sidebar">
    <core-sidebar
      class="sidebar-shop"
      id="ecommerce-sidebar-toggler"
      name="ecommerce-sidebar"
      collapsibleSidebar="bs-gt-lg"
      overlayClass="body-content-overlay"
    >
     <!-- Ecommerce Sidebar Starts -->
      <div class="card mt-2">
        <div class="card-body">
          <!-- Categories Starts -->
          <div id="product-categories">
              <h6 class="filter-title mt-0">Categorias</h6>
              <ul class="list-unstyled categories-list">
                <form re>
                  <li>
                    <div class="custom-control custom-radio">
                    <input type="radio" id="0" name="category-filter" class="custom-control-input" checked 
                    (change)="onSelect(0)"/>
                    <label class="custom-control-label" for="0">Todos</label>
                    </div>
                  </li>
                  <li *ngFor="let categoria of categorias">
                      <div class="custom-control custom-radio">
                      <input type="radio" id="{{categoria.categoriaEnum}}" name="category-filter" class="custom-control-input"
                      (change)="onSelect(categoria.categoriaEnum)"/>
                      <label class="custom-control-label" for="{{categoria.categoriaEnum}}">{{categoria.descricao}}</label>
                      </div>
                  </li>
                </form>
              </ul>
          </div>
          <!-- Categories Ends -->
        </div>
      </div>
      <!-- Ecommerce Sidebar Ends -->
    </core-sidebar>
  </div>
</div>

<!-- Lista de Produtos -->
<div class="content-detached content-right">
  <div class="content-body">
    <section class="grid-view">
      <div class="card ecommerce-card bg-transparent border-primary" *ngFor="let produto of produtos">
          <div class="item-img text-center">
            <a routerLink="/produto/detalhe/{{produto.produtoId}}">
              <img class="img-fluid card-img-top" src="../../../../../assets/images/produtos/{{produto.imagem}}" alt="img-placeholder" />
            </a>
          </div>
          <div class="card-body">
            <div class="item-wrapper">
              <h4 class="item-price">{{produto.preco | currency}}</h4>
              <div class="rating">
                <ngb-rating [rate]="produto.ranking" [max]="5" readonly="true" class="outline-none">
                </ngb-rating>
              </div>
            </div>
            <h4 class="item-name">{{produto.nome}}</h4>
            
          </div>
          
        </div>
    </section>
</div>

  





