<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel1">Cadastrar um Endereço</h4>
  <button type="button" class="close" aria-label="Close" (click)="this.modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
  <form [formGroup]="formCadastroEndereco" (ngSubmit)="onSubmit()">
    <label>Cep: </label>
    <div class="form-group">
      <input type="text" class="form-control" formControlName='cep' (change)="this.atualizarCampos()"/>
      <ngb-alert type="danger" *ngIf="!formCadastroEndereco.get('cep').valid && formCadastroEndereco.get('cep').touched" [dismissible]="false">
        <div class="alert-body">
          <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
          <span>O CEP deve conter exatamente 8 dígitos</span>
        </div>
      </ngb-alert>
    </div>
    <label>Rua: </label>
    <div class="form-group">
      <input type="text" disabled="true" class="form-control" formControlName='rua'>
      <ngb-alert type="danger" *ngIf="!formCadastroEndereco.get('rua').valid && formCadastroEndereco.get('rua').touched" [dismissible]="false">
        <div class="alert-body">
          <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
          <span>
            O nome da rua é obrigatorio. Não pode ultrapassar 100 dígitos
          </span>
        </div>
      </ngb-alert>
    </div>
    <label>Numero: </label>
    <div class="form-group">
      <input type="text" class="form-control" formControlName='numero'>
      <ngb-alert type="danger" *ngIf="!formCadastroEndereco.get('numero').valid && formCadastroEndereco.get('numero').touched" [dismissible]="false">
        <div class="alert-body">
          <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
          <span>
            O número é obrigatorio. Não pode ultrapassar 30 dígitos
          </span>
        </div>
      </ngb-alert>
    </div>
    <label>Complemento: </label>
    <div class="form-group">
      <input type="text" class="form-control" formControlName='complemento'>
      <ngb-alert type="danger" *ngIf="!formCadastroEndereco.get('complemento').valid && formCadastroEndereco.get('complemento').touched" [dismissible]="false">
        <div class="alert-body">
          <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
          <span>
            O complemento é obrigatorio. Não pode ultrapassar 30 dígitos
          </span>
        </div>
      </ngb-alert>
    </div>
    <button class="btn btn-primary" rippleEffect>
      Cadastrar
    </button>
  </form>
</div>
<div class="modal-footer">
  
</div>